<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="card bg-dark bg-opacity-75 text-white mx-auto" style="max-width: 500px;">
    <div class="card-body">
        <h2 class="card-title mb-4">Set a New Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-3">Change Password</button>
        </form>
    </div>
</div>
{% endblock content %}