<!-- templates/registration/password_change_form.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="card bg-dark bg-opacity-75 text-white mx-auto" style="max-width: 500px;">
    <div class="card-body">
        <h2 class="card-title mb-4">Change Your Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|cripsy }}
            <button class="btn btn-primary mt-2" type="submit">Update Password</button>
        </form>
    </div>
</div>
{% endblock content %}