<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="card bg-dark bg-opacity-75 text-white mx-auto text-center" style="max-width: 500px;">
    <div class="card-body">
        <h2 class="card-title mb-4">Password Reset Successfull</h2>
        <p>Your password has been chanmged successfully. You can now log in with your new password</p>
        <a href="{% url 'login' %}" class="btn btn-primary mt-3">Log In</a>
    </div>
</div>
{% endblock content %}