<!--  templates/registration/signup.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="card bg-dark bg-opaccity-75 text-white mx-auto" style="max-width: 500px;">
    <div class="card-body">
        <h2 class="card-title mb-4">Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
        </form>
    </div>
</div>
{% endblock content %}